**/__pycache__
**/.pytest_cache
**/*.*~
data/#*#
po/*.mo
resources
subprojects/.wraplock
subprojects/blueprint-compiler
_build/
_build2/
.komikku-dev/
.buildconfig
flatpak/*Devel*
.venv/
.flatpak/
.flatpak-builder/
.safety-policy.yml
